{% extends "PWMyBundle::layout.html.twig" %}

	{% block title %}
		A propos
	{% endblock %}
	{% block nav %}
		<div class = "container">
	      <div class="wrapper">
	        	<div class="jumbotron">
	        		<div class="col-md-8">
	        			<h3 class="form-signin-heading">Bienvenue sur le site de KENYLAM Game!</h3>
	        			<h3 class="form-signin-heading">Principes </h3>
	        		</div> 
		            <hr class="colorgraph"><br>
		            <div class="col-md-6">
		            	<p>
		            		Jeu multijoueur persistant sur navigateur<br>
						  	-chaque user posséde une ou plusieurs entités<br>
						  	-effectue des actions pour evoluer dans le jeu<br>
						  	-rechargement à intervalles réguliers des PA<br>
		            	</p>
		              	
		            </div>
		                
		        </div>     
	      </div>
	    </div>
	{% endblock %}
	