{% extends "PWMyBundle::layout.html.twig" %}

	{% block title %}
		A propos
	{% endblock %}
	{% block form %}
		<div class = "container">
		            	<p>
		            		Jeu multijoueur persistant sur navigateur<br>
						  	-chaque user posséde une ou plusieurs entités<br>
						  	-effectue des actions pour evoluer dans le jeu<br>
						  	-rechargement à intervalles réguliers des PA<br>
		            	</p>
		     
	    </div>
	{% endblock %}
	